
body{
  margin: 0;
  text-align: center;
  font-family:font-family: 'Merriweather', serif;
}

h1
{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color:  #66BFBF;

}
h2
{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:  #66BFBF;
  font-weight: normal;
}
h3
{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
span{
  text-decoration: underline;
}

hr{
  border: dotted black ;
  width:7%;
  border-width: 8px;
  border-bottom: none;
  border-color:#CDF0EA;

}
p{
  line-height: 2;
}

a{
  color: #11999E;
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  font-family: 'Montserrat', sans-serif;

}

a:hover{
  color:#EAF6F6 ;
}



.firstcontainer
{
  background: #EAF6F6;
  margin-bottom: 50px;
}

.pic{
  border-radius: 50%;
  width:25%;
  margin-top: 20px;
}
.pice{
  border-radius: 50%;
  margin-top: 30px;
  width: 25%;
  float: right;
  margin-left: 30px;
}
.pic_gif{
  border-radius: 50%;
  width:28%;
  height: 150px;
  float: left;
  margin-right: 30px;
  margin-top: 30px;
}
.leftcloud{
  margin-top: 0px;
  width: 10%;
  position: relative;
  bottom:250px;
  left:120px;
}
.rightcloud{
  margin-top: 20px;
  width: 10%;
  position: relative;
  left:250px;
}

.col{
  color: #11999E;
}

.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.sampurn_info
{
  color: #40514E;
  margin-bottom: 80px;
  width: 30%;
  margin: 10px auto 40px auto;
}
.mountain
{
  position: relative;
  right: 25px;
}

.contact-me
{
  margin-bottom:  100px;
}

  .btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family:font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container
{
  background-color: #66BFBF;
  padding: 50px 0 20px 0;
}

.pro{
  font-weight: 700;
}


.copyright{
  color: #EAF6F6;
  font-size: 10px;
}
